###  EXERCISE 1 OF  MOVIE DATA

### LOADING THE DATA

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
mov=pd.read_csv("C:/Users/anas/Desktop/MOVIE DATA/cast.zip")

### GATHERING THE INFORMATION

In [2]:
mov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3311647 entries, 0 to 3311646
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   title      object
 1   year       int64
 2   name       object
 3   type       object
 4   character  object
 5   n          float64
dtypes: float64(1), int64(1), object(4)
memory usage: 151.6+ MB

In [3]:
mov.isnull().sum()

title              0
year               0
name               0
type               0
character          0
n            1242072
dtype: int64

In [4]:
mov.title.value_counts().head(20)

Around the World in Eighty Days       1300
7 cajas                                689
Thelma                                 580
The Ten Commandments                   529
The Eschatrilogy: Book of the Dead     517
A Broken Code                          477
Welcome to Essex                       443
Stuck on You                           438
The Dark Knight Rises                  429
The Buccaneer                          428
The Producers                          425
Dekada '70                             409
King Kong                              405
Diary ng panget                        401
Across the Universe                    380
Underground                            356
Anna Karenina                          351
Caravaggio and My Mother the Pope      348
Malcolm X                              347
Devil's Playground                     341
Name: title, dtype: int64

In [5]:
mov.year.value_counts()

2015    178428
2014    144909
2013    134209
2012    129661
2011    123659
         ...
1909         3
1894         3
2021         2
1900         2
1905         1
Name: year, Length: 120, dtype: int64

In [6]:
mov.name.value_counts()

Bess Flowers            807
Herman Hack             666
Sam (II) Harris         620
Lee Phelps              613
Frank O'Connor          598
                       ...
Hniny Mostapha            1
Jake Mostard              1
Slimane Mostefa-Ch?a      1
Hugo C?sar Mosteirin      1
Rosa ? R?gvu              1
Name: name, Length: 1204590, dtype: int64

In [7]:
mov.type.value_counts()

actor      2242942
actress    1068705
Name: type, dtype: int64

In [8]:
mov.character.value_counts().head(20)

Himself           18926
Dancer            11015
Extra              8638
Reporter           7593
Doctor             6803
Policeman          6470
Student            6390
Nurse              6127
Bartender          6123
Minor Role         5830
Party Guest        5820
Zombie             5688
Herself            5520
Townsman           5011
Henchman           4856
Waiter             4846
Waitress           4205
Soldier            4030
Police Officer     3941
Bar Patron         3870
Name: character, dtype: int64

In [9]:
mov.n.value_counts()

1.0      136802
2.0      128148
3.0      121969
4.0      116152
5.0      110154
          ...
654.0         1
578.0         1
584.0         1
502.0         1
588.0         1
Name: n, Length: 702, dtype: int64

In [10]:
mov.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

###  ANALYZING AND VISUALIZING THE DATA

### How many movies are listed in the titles dataframe?

In [11]:
mov.title.count()

3311647

### What are the earliest two films listed in the titles dataframe?

In [12]:
mov.title[mov.year.sort_values().head(4).unique()]

1894    Hitman the Cobra
1899     Sing si lip yan
Name: title, dtype: object

In [13]:
mov.year.sort_values().head(4).unique()

array([1894, 1899], dtype=int64)

In [14]:
#What are the latest two films listed in the titles dataframe?
mov.title[mov.year.sort_values( ascending=False).head(3).unique()]

2021    2061: Un anno eccezionale
2020                  Fever Pitch
Name: title, dtype: object

### How many movies have the title "Hamlet"?

In [15]:
mov[mov.title=='Hamlet'].title.count()

299

In [16]:
#alternative
mov.title[mov.title=='Hamlet'].count()

299

### How many movies are titled "North by Northwest"?

In [17]:
mov[mov.title=='North by Northwest'].title.count()

111

In [18]:
#alternate way
mov.title[mov.title=='North by Northwest'].count()

111

In [19]:
#another way agar ek particular col ke kisi value ka details dekhna haia to
mov[mov.title=='North by Northwest']

,title,year,name,type,character,n
11042,North by Northwest,1959,Stanley Adams,actor,Lieutenant Harding,NaN
25107,North by Northwest,1959,Andy Albin,actor,Farmer,NaN
48790,North by Northwest,1959,Don Anderson,actor,Worker,NaN
48984,North by Northwest,1959,Ernest Anderson,actor,Porter on Twentieth Century Ltd.,NaN
83581,North by Northwest,1959,Malcolm Atterbury,actor,Man at Prairie Crossing,NaN
...,...,...,...,...,...,...
3084579,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
3134194,North by Northwest,1959,Doris Singh,actress,First United Nations Receptionist,NaN
3153156,North by Northwest,1959,Helen Spring,actress,Bidder,NaN
3271974,North by Northwest,1959,Susan Whitney,actress,Attendant,NaN
3282483,North by Northwest,1959,Paula Winslowe,actress,Woman at Auction,NaN

### When was the first movie titled "Hamlet" made?

In [20]:
mov[mov.title=='Hamlet'].year.sort_values().head(2)

1422895    1910
3091449    1911
Name: year, dtype: int64

In [21]:
mov.title=='Hamlet'

0          False
1          False
2          False
3          False
4          False
           ...
3311642    False
3311643    False
3311644    False
3311645    False
3311646    False
Name: title, Length: 3311647, dtype: bool

In [22]:
mov[mov.title=='Hamlet']

          title  year              name     type              character     n
1444     Hamlet  1996        Riz Abbasi    actor  Attendant to Claudius   1.0
6662     Hamlet  1921  Fritz Achterberg    actor            Fortinbras,   9.0
10198    Hamlet  2009      Hayden Adams    actor                Laertes   7.0
10199    Hamlet  2009      Hayden Adams    actor                 Player   7.0
12664    Hamlet  1913       Eric Adeney    actor               Reynaldo  14.0
...         ...   ...               ...      ...                    ...   ...
3191505  Hamlet  1964      Carol Teitel  actress                   Lady   NaN
3215458  Hamlet  1969    Jennifer Tudor  actress             Court lady  23.0
3235964  Hamlet  2000      Diane Venora  actress               Gertrude   3.0
3263021  Hamlet  1996     Perdita Weeks  actress          Second Player  44.0
3282413  Hamlet  1996      Kate Winslet  actress                Ophelia  46.0

[299 rows x 6 columns]

### List all of the "Treasure Island" movies from earliest to most recent.

In [23]:
mov[mov.title=='Treasure Island'].year.sort_values()

1304778    1918
3258893    1918
3026895    1918
1160631    1918
1188122    1918
           ...
1653669    1999
1720561    1999
1802485    1999
2693149    1999
810348     1999
Name: year, Length: 187, dtype: int64

In [24]:
mov[mov.title=='Treasure Island'].title.count()

187

### How many movies were made in the year 1950?

In [25]:
mov[mov.year== 1950].year.value_counts()

1950    21414
Name: year, dtype: int64

### How many movies were made in the year 1960?

In [26]:
mov[mov.year==1960].year.value_counts()

1960    17163
Name: year, dtype: int64

### How many movies were made from 1950 through 1959?

In [27]:
mov[(mov.year>=1950) & (mov.year<=1959)].title.count()

201920

### In what years has a movie titled "Batman" been released?

In [28]:
mov[mov.title=='Batman'].year.sort_values()

86823      1943
2165833    1943
810112     1943
1669830    1943
2154951    1943
           ...
983431     1989
910106     1989
890914     1989
813370     1989
3080427    1989
Name: year, Length: 118, dtype: int64

In [29]:
mov[mov.title=='Batman'].year.value_counts()

1989    66
1943    52
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [30]:
mov[mov.title=='Inception'].character.count()

72

In [31]:
mov[mov.title=='Inception'].character.value_counts()

Bridge Sub Con             7
Bar Sub Con                5
Lobby Sub Con              5
LAX Passenger              3
Penrose Sub Con            3
Pedestrian                 2
Businessman                2
Airport Patron             2
Denison                    1
Japanese Security Guard    1
Robert Fischer             1
A Passer-By                1
James (20 months)          1
Saito's Attendant          1
Maurice Fischer            1
Yusuf                      1
Fischer's Driver           1
Tadashi                    1
Saito                      1
Mal                        1
Mombasan Cashier           1
Phillipa (3 years)         1
Phillipa (5 years)         1
Flight Attendant           1
Ariadne                    1
Private Nurse              1
Blonde                     1
French Student             1
Thin Man                   1
Street Person              1
Mombasa Casino Cashier     1
Browning                   1
Mombasan Gambler           1
Miles                      1
Elderly Bald Man           1
Cobb                       1
Italian Gambler            1
Extra                      1
Cab Driver                 1
Immigration Officer        1
James (3 years)            1
Old Cobb                   1
Arthur                     1
Nash                       1
Eames                      1
Lawyer                     1
Hotel Guest                1
Japanese Landing Crew      1
Mombasan Casino Staff      1
Fischer's Jet Captain      1
Old Mal                    1
Name: character, dtype: int64

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [32]:
mov[(mov.title=='Inception')& (mov.n.isnull())].character.value_counts()

LAX Passenger             3
Bridge Sub Con            2
Pedestrian                2
Airport Patron            2
Mombasan Gambler          1
Italian Gambler           1
Extra                     1
Hotel Guest               1
Japanese Landing Crew     1
Mombasan Casino Staff     1
Mombasa Casino Cashier    1
Street Person             1
French Student            1
A Passer-By               1
Denison                   1
Mombasan Cashier          1
Name: character, dtype: int64

### But how many roles in the movie "Inception" did receive an "n" value?

In [33]:
mov[(mov.title=='Inception') & (mov.n)].character.count()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [34]:
mov[(mov.title=='North by Northwest')& (mov.n)].groupby('n').name.value_counts()

n     name
1.0   Cary Grant              1
2.0   Eva Marie Saint         1
3.0   James Mason             1
4.0   Jessie Royce Landis     1
5.0   Leo G. Carroll          1
6.0   Josephine Hutchinson    1
7.0   Philip Ober             1
8.0   Martin Landau           1
9.0   Adam Williams           1
10.0  Edward Platt            1
11.0  Robert Ellenstein       1
12.0  Les Tremayne            1
13.0  Philip Coolidge         1
14.0  Patrick McVey           1
15.0  Edward Binns            1
16.0  Ken Lynch               1
Name: name, dtype: int64

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [35]:
mov[(mov.title=='Sleuth')& (mov.year==1972)& (mov.n)].groupby('n').name.value_counts()

n    name
1.0  Laurence Olivier      1
2.0  Michael Caine         1
3.0  Alec Cawthorne        1
4.0  John (II) Matthews    1
5.0  Eve (III) Channing    1
6.0  Teddy Martin          1
Name: name, dtype: int64

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [36]:
mov[(mov.title=='Sleuth')& (mov.year==2007)& (mov.n)].groupby('n').name.value_counts()

n    name
1.0  Michael Caine    1
2.0  Jude Law         1
3.0  Harold Pinter    1
Name: name, dtype: int64

### How many roles were credited in the silent 1921 version of Hamlet?

In [37]:
mov[(mov.name.str.contains(' silent')) & (mov.title=='Hamlet') & (mov.year== 1921)].character.count()

0

In [38]:
mov[(mov.name.str.contains(' silent'))]

Empty DataFrame
Columns: [title, year, name, type, character, n]
Index: []

In [39]:
mov[(mov.title=='Hamlet') & (mov.year== 1921)].character.unique()

array(['Fortinbras,', 'K?nig Hamlet', 'Laertes', 'Polonius', 'Horatio',
       'Claudius', 'K?nigin Gertrude', 'Ophelia', 'Hamlet'], dtype=object)

In [40]:
mov[(mov.title=='Hamlet') & (mov.year== 1921)].name.unique()

array(['Fritz Achterberg', 'Paul Conradi', 'Anton De Verdier',
       'Hans Junkermann', 'Heinz Stieda', 'Eduard von Winterstein',
       'Mathilde Brandt', 'Lilly Jacobson', 'Asta Nielsen'], dtype=object)

In [41]:
mov[(mov.title=='Hamlet') & (mov.year== 1921)].n.nlargest()

6662       9.0
2696646    8.0
492378     7.0
1008886    6.0
1936590    5.0
Name: n, dtype: float64

### How many roles were credited in Branagh’s 1996 Hamlet?

In [42]:
mov[(mov.name.str.contains('Branagh')) & (mov.title=='Hamlet') & (mov.year== 1996)].character.count()

1

In [43]:
mov[(mov.title=='Hamlet') & (mov.year== 1996)].name.unique()

array(['Riz Abbasi', 'Richard Attenborough', 'Simon Russell Beale',
       'David (V) Blair', 'Brian Blessed', 'Christopher Bowles',
       'Kenneth Branagh', 'Richard Briers', 'Michael Bryant',
       'Peter Bygott', 'Kenneth W Caravan', 'Billy Crystal',
       'Charles Daish', 'G?rard Depardieu', 'Reece Dinsdale', 'Ken Dodd',
       'Rob Edwards', 'Jimmy Ellis', 'Nicholas Farrell', 'Ray Fearon',
       'John Gielgud', 'Charlton Heston', 'Ravil Isyanov', 'Derek Jacobi',
       'Jeffery Kissoon', 'Jack Lemmon', 'Anthony Maddalena',
       'Michael Maloney', 'Ian McElhinney', 'John Mills', 'Jimi Mistry',
       'Frank (II) Morgan', 'Andrew Schofield', 'Orlando Seale',
       'Rufus Sewell', 'Timothy Spall', 'John Spencer-Churchill',
       'Thomas Szekeres', 'Ben Thom', 'Don Warrington', 'Robin Williams',
       'David Yip', 'Jimmy Yuill', 'Julie Christie', 'Judi Dench',
       'Angela Douglas', 'Yvonne Gidden', 'Rosemary Harris',
       'Rowena King', 'Sarah Lam', 'Sian Radinger', 'Melanie Ramsay',
       'Melanie Ramsey', 'Perdita Weeks', 'Kate Winslet'], dtype=object)

In [44]:
mov[mov.name.str.contains('Branagh')].head()

,title,year,name,type,character,n
228736,A Month in the Country,1987,Kenneth Branagh,actor,James Moon,5.0
228737,As You Like It,2006,Kenneth Branagh,actor,Himself - offscreen voice,NaN
228738,Celebrity,1998,Kenneth Branagh,actor,Lee Simon,12.0
228739,Chariots of Fire,1981,Kenneth Branagh,actor,Cambridge Student - Society Day crowd,NaN
228740,Dead Again,1991,Kenneth Branagh,actor,Roman Strauss,1.0

### How many "Hamlet" roles have been listed in all film credits through history?

In [45]:
mov[mov.title=='Hamlet'].character.count()

299

### How many people have played an "Ophelia"?

In [46]:
mov[mov.title=='Ophelia'].name.count()

8

### How many people have played a role called "The Dude"?

In [47]:
mov[mov.character=='The Dude'].name.count()

16

### How many people have played a role called "The Stranger"?

In [48]:
mov[mov.character=='The Stranger'].name.count()

192

### How many roles has Sidney Poitier played throughout his career?

In [49]:
mov[mov.name=='Sidney Poitier'].character.count()

43

### How many roles has Judi Dench played?

In [50]:
mov[mov.name=='Judi Dench'].character.count()

51

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [51]:
mov[(mov.n==2)&(mov.name=='Cary Grant') & (mov.year== 1940)].character.value_counts()

Nick    1
Name: character, dtype: int64

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [52]:
mov[(mov.n==1)&(mov.name=='Cary Grant') & (mov.year== 1940)].character.value_counts()

Walter Burns          1
Matt Howard           1
C. K. Dexter Haven    1
Name: character, dtype: int64

### How many roles were available for actors in the 1950s?

In [53]:
mov[(mov.type=='actor') & (mov.year== 1950)].character.count()

16065

### How many roles were available for actresses in the 1950s?

In [54]:
mov[(mov.type=='actress') & (mov.year== 1950)].character.count()

5349

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [55]:
mov[(mov.n==1) & (mov.year== 1980)].character.count()

1067

### How many non-leading roles were available through from the beginning of film history through 1980?

In [56]:
mov[(mov.n!=1) & (mov.year== 1980)].character.count()

20365

In [57]:
mov[(mov.n!=1) & (mov.year== 1980)].character.nunique()

14806

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [58]:
mov[(mov.n.isnull()) & (mov.year== 1980)].character.count()

3701